* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5%;
  margin: 1.5% 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.row {
  position: flex;
}

.btn {
  margin: 25%;
  display: inline-block;
  height: 200%;
  width: 200%;
  border: 10% solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20% white;
  background-color: grey;
}

/* .instructions {
    text-align: left;
    position: absolute;
    width: 20%;
    color: #FEF2BF;
  } */
h5 {
  text-align: center;
  font-size: 1.3%;
}

p {
  font-size: 1.3%;
}

.footer {
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.p-footer {
  font-size: 10%;
}

.dropbtn {
  background-color: #011F3F;
  color: #FEF2BF;
  padding: 13%;
  font-size: 10%;
  border-radius: 50%;
  border-color: #FEF2BF;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: block;
  background-color: #FEF2BF;
  color: #011F3F;
  text-align: left;
  width: 500%;
  border-radius: 10%;

}

.dropdown-content p {
  position: center;
  color: black;
  font-size: 14%;
}

  .show {
    display: block;
  }












